.Titre_h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 168px;
    background: #fff
}
.Titre_h1 h1{
    font-weight: bold;
    font-size: 42px;
    


}

.AdsHeader_logo__Hw9a6 {
    height: 72px;
    width: auto
}
/*ajt*/
@media (max-width:1023px) {
    .Titre_h1 {
        height: 80px
    }

    .AdsHeader_logo__Hw9a6 {
        height: 32px
    }
}

.Heading_headingBlock__XHJsw {
    text-transform: uppercase;
    padding: 48px 0 0
}

.Heading_headingBlock__XHJsw.Heading_SMALL__UxKHj {
    padding: 36px 0 0
}

.Heading_headingBlock__XHJsw * {
    letter-spacing: inherit
}

.Heading_headingBlock__XHJsw a {
    text-decoration: underline;
    cursor: pointer
}

.Heading_headingBlock__XHJsw a:hover {
    text-decoration: underline
}

@media (min-width:1024px) {
    .Heading_headingBlock__XHJsw.Heading_LARGE__2roCv {
        padding: 72px 0 0
    }
}

.Lead_lead__OAj4i {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 24px 0 64px;
    text-align: center
}

@media (max-width:1023px) {
    .Lead_lead__OAj4i {
        padding: 12px 0 32px
    }
}

.MultiColumn_multiColumn__3SR_M {
    display: grid;
    grid-auto-rows: auto;
    grid-column-gap: 24px;
    column-gap: 24px
}

@media (max-width:1023px) {
    .MultiColumn_multiColumn__3SR_M {
        grid-template-columns: repeat(var(--multicolumn-mobile-size), 1fr)
    }
}

@media (min-width:1024px) {
    .MultiColumn_multiColumn__3SR_M {
        grid-template-columns: repeat(var(--multicolumn-size), 1fr)
    }
}

.Action_action__kxSCC {
    align-items: center;
    display: flex;
    background: transparent;
    color: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    transition: color .2s ease-in-out
}

.Action_action__kxSCC:hover {
    color: var(--color-light-gray);
    text-decoration: none
}

.Action_action__kxSCC.Action_dark__pErM3:hover {
    color: var(--color-dark-secondary)
}

.Action_label__EGHYM {
    margin-right: 4px
}

.Actions_actionsBlock__73U6I {
    display: flex;
    padding: 24px 0;
    gap: 24px
}

.Actions_action__Phr3S svg {
    fill: currentColor
}

@media (max-width:1023px) {
    .Actions_actionBlock___m0hP {
        flex-direction: column
    }
}

.Callout_calloutBlock__uZisK {
    display: flex;
    padding: 24px 0
}

.Callout_callout__XjLcW {
    background: var(--color-light-callout);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding: 24px var(--horizontal-padding)
}

.Callout_calloutInner__Gvpky {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}

.Callout_calloutBlock__uZisK.Callout_MEDIUM___3kYS .Callout_calloutInner__Gvpky,
.Callout_calloutBlock__uZisK.Callout_withMedia__ISZ6S .Callout_calloutInner__Gvpky {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 684px
}

.Callout_media__UK_vA {
    background: var(--color-light-callout);
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    box-sizing: border-box;
    aspect-ratio: 3/4;
    position: relative
}

.Callout_media__UK_vA.Callout_FOOTAGE__cfv0V:after {
    content: "";
    display: block;
    height: calc(100% - var(--horizontal-padding) * 2);
    background: var(--color-light-background-gray);
    width: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-50%, -50%, 0)
}

.Callout_mediaResource__96zGg {
    flex: 1 1 auto;
    height: 100%;
    width: 100%
}

.Callout_mediaResource__96zGg>img,
.Callout_mediaResource__96zGg>video {
    background: transparent !important
}

@media (max-width:1023px) {
    .Callout_calloutBlock__uZisK {
        margin: 0 var(--negative-horizontal-padding);
        padding: 12px 0
    }

    .Callout_calloutBlock__uZisK.Callout_MEDIUM___3kYS,
    .Callout_calloutBlock__uZisK.Callout_withMedia__ISZ6S {
        flex-direction: column
    }

    .Callout_media__UK_vA {
        flex: 1 1 auto
    }

    .Callout_media__UK_vA.Callout_FOOTAGE__cfv0V:after {
        height: 1px;
        width: calc(100% - var(--horizontal-padding) * 2);
        top: 0;
        left: 50%
    }
}

.InstallCallout_calloutBlock__bG_10 {
    display: flex;
    padding: 24px 0
}

.InstallCallout_callout__eKiAf {
    flex: 1 1 auto;
    justify-content: space-between
}

.InstallCallout_callout__eKiAf,
.InstallCallout_media__X4IN9 {
    background: var(--color-light-callout);
    display: flex;
    flex-direction: column;
    padding: 24px var(--horizontal-padding)
}

.InstallCallout_media__X4IN9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 24px);
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box
}

.InstallCallout_installIcon__fn_FC {
    cursor: pointer
}

.InstallCallout_mediaResource__WL0uU {
    flex: 0 0 auto
}

@media (max-width:1023px) {
    .InstallCallout_calloutBlock__bG_10 {
        flex-direction: column-reverse;
        margin: 0 var(--negative-horizontal-padding);
        padding: 12px 0
    }

    .InstallCallout_callout__eKiAf {
        padding: 0 var(--horizontal-padding) 24px;
        align-items: center;
        text-align: center
    }

    .InstallCallout_media__X4IN9 {
        padding: 50px var(--horizontal-padding) 12px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(50% - 12px);
        align-items: center
    }
}

@media (min-width:1024px) {
    .InstallCallout_text__82p7F {
        padding: 12px 0 24px
    }

    .InstallCallout_actions__8eiWo {
        padding: 12px 0
    }
}

.Title_title__IMjF_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 0 24px
}

.Title_heading__CGKQK {
    display: flex;
    flex-direction: column;
    position: relative
}

.Title_breadcrumbs__UB26z {
    display: flex;
    flex-direction: column;
    padding: 6px 0 36px;
    position: absolute;
    top: 0;
    left: 50%;
    box-sizing: border-box;
    width: 100vw;
    align-items: center;
    transform: translate3d(-50%, -100%, 0)
}

.Title_subtitle__owZx8 {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 12px 0;
    color: var(--color-light-gray)
}

.Title_subtitle__owZx8 a:hover {
    text-decoration: underline
}

@media (max-width:1023px) {
    .Title_title__IMjF_ {
        padding: 60px 0 12px
    }
}
/*ajt*/
.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 var(--horizontal-padding)
}

.AdsPerfectAirportPickups_collage__Y323b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 24px;
    gap: 24px;
    width: calc(100% + var(--horizontal-padding) * 2);
    align-self: center
}

.AdsPerfectAirportPickups_collageImage__zMTqI {
    aspect-ratio: 4/3
}

.AdsPerfectAirportPickups_features__upxdX {
    display: flex;
    flex-direction: column;
    padding: 48px 0
}

.AdsPerfectAirportPickups_install__d2gO6 {
    display: flex;
    flex-direction: column;
    padding: 24px 0 48px;
    align-items: center
}

.AdsPerfectAirportPickups_installDescription__gZlH8 {
    padding-top: 0;
    text-align: center
}

.AdsPerfectAirportPickups_installIcon__ohydq {
    height: 72px;
    width: auto
}

.AdsPerfectAirportPickups_qr__eiAfC {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 24px
}

.AdsPerfectAirportPickups_qrCodeCircleWrapper__hqDFb {
    --size: 280px;
    height: calc(var(--size) + 12px * 2);
    width: calc(var(--size) + 12px * 2);
    overflow: hidden;
    border-radius: calc((var(--size) + 12px * 2) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff
}

.AdsPerfectAirportPickups_qrCodeCircle___H9XW {
    height: var(--size);
    width: var(--size);
    border: 3px solid #000;
    overflow: hidden;
    border-radius: calc(var(--size) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.AdsPerfectAirportPickups_qrCodeImage__XgcLh {
    width: 100%;
    height: 100%
}

.AdsPerfectAirportPickups_qrCodeImage__XgcLh svg {
    width: 100%;
    height: 100%;
    shape-rendering: crispEdges
}

.AdsPerfectAirportPickups_qrTitle__0fDJm {
    padding: 36px 0 0;
    text-transform: uppercase
}

.AdsPerfectAirportPickups_qrDescription__AwN75 {
    text-align: center
}

@media (max-width:1023px) {
    .AdsPerfectAirportPickups_collage__Y323b {
        gap: 12px
    }

    .AdsPerfectAirportPickups_installIcon__ohydq {
        display: none
    }

    .AdsPerfectAirportPickups_install__d2gO6 {
        padding: 12px 0 24px
    }
}

@media (min-width:1024px) {
    .AdsPerfectAirportPickups_hideOnDesktop__3HJwj {
        display: none
    }
}